.nav-items
    a(href=`${directorio}/index.html`) Inicio
if !footer
    .nav-items.cursos-titulo 
        a Cursos <i class="fas fa-chevron-down" id="cursos"></i>
        .cursos
            .cursos-items 
                a(href=`${directorio}/cursos-especialidades.html`) Cursos Especialidades
            .cursos-items
                a(href=`${directorio}/cursos-taller.html`) Cursos Taller
else
    .nav-items
        a(href=`${directorio}/noticias.html`) Noticias
    .nav-items
        a(href=`${directorio}/cursos-especialidades.html`) Cursos Especialidades
    .nav-items
        a(href=`${directorio}/cursos-taller.html`) Cursos Taller
.nav-items 
    a(href=`${directorio}/inscripcion.html`) Inscripción
.nav-items
    a(href=`${directorio}/nosotros.html`) Nosotros
.nav-items
    a(href=`${directorio}/contacto.html`) Contacto
if !footer
    .nav-items
        input(type="button", value="Area de Alumnos" class="button-first")